@inject NavigationManager NavManager
@* 
SITE MAP
Home
Projects
About
 *@
<nav>
    @* Home *@
    <div>
        <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    </div>
    @* Projects *@
    <div>
        <NavLink href="/Projects">Projects</NavLink>
    </div>
    @* About *@
    <div>
        <NavLink href="/About">Projects</NavLink>
    </div>
</nav>